<!-- <div class="current-battles">
    <h3>Ongoing Rap Battles</h3>
    <div *ngFor="let pair of pairs" class="battle">
      <div class="user">
        <img [src]="pair.user1.profilePicture" [alt]="pair.user1.name" class="user-avatar">
        <div>{{ pair.user1.name }}</div>
      </div>
      <div class="vs">VS</div>
      <div class="user">
        <img [src]="pair.user2.profilePicture" [alt]="pair.user2.name" class="user-avatar">
        <div>{{ pair.user2.name }}</div>
      </div>
    </div>
  </div> -->