html, body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.battlefield {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column; /* Default to column for mobile */
}

.user-list, .current-battles-container {
  overflow-y: auto;
  background: #f4f4f4;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 4px;
}

.user-list::-webkit-scrollbar, .current-battles-container::-webkit-scrollbar {
  display: none;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 8px;
}

.user-item {
  display: flex;
  justify-content: center;
}

.user-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.user-name {
  margin-top: 4px;
  font-size: 11px;
  color: #333;
  text-align: center;
}

.chat {
  flex: 1 1 auto; /* Take up remaining space in column layout */
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
  padding: 16px; /* Ensure it has padding */
  box-sizing: border-box;
  height: 40vh; /* Slightly reduced height */
}

.chat-window {
  flex: 1;
  overflow-y: auto;
}

.chat-window::-webkit-scrollbar {
  display: none;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 8px;
  border-top: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: border-bottom 0.3s ease; 
}

.chat-input input:focus {
  outline: none;
  border-bottom: 2px solid #3f51b5;
}

.chat-input button {
  background: #3f51b5;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.chat-input button:hover {
  background-color: #303f9f;
  transform: scale(1.1);
}

.chat-input button mat-icon {
  font-size: 24px;
}

.current-battles-container {
  padding: 16px;
  border-radius: 4px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 20vh;  /* Maintain height */
}

.current-battles-container h3 {
  font-size: 18px;
  margin-top: 0;
}

.battle {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  justify-content: space-evenly;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 45%;
}

.battle .user-avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
}

.vs {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

/* Mobile specific adjustments */
@media (max-width: 768px) {
  .user-list {
    height: 32%; /* Slightly increased height */
    padding: 10px;
  }

  .chat {
    height: 35%; /* Slightly reduced height to balance layout */
  }

  .current-battles-container {
    height: 24%; /* Maintain height for visibility */

  }
}

/* Desktop specific adjustments */
@media (min-width: 769px) {
  .battlefield {
    flex-direction: row;
  }

  .user-list, .current-battles-container {
    flex: 0 1 25%;
    height: 100vh;
  }

  .chat {
    flex: 1 1 50%; /* Central chat area should take up the available space */
    height: auto;  /* Adjust to fit content height */
  }
}